.header {
    text-align: center;
    padding-bottom: 1em;
}

form {
    font-size: 80%;
}

form input[type=text] {
    padding: 0.2em 0.5em;
    height: 2em;
}

form .buttons {
    text-align: center;
}

form label, form legend {
    font-weight: 300;
}

form legend {
    font-size: 110%;
    background-color: white;
    padding: 0 0.5em;
}

form fieldset {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.hidden {
    display: none;
}

.error {
    background-color: red;
    color: white;
}

#log {
    position: relative;
}

.annotate {
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    bottom: -4.4em;
    line-height: 1.3em;
    width: 100%;
}
